@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Noto+Serif:ital@1&display=swap");
body {
  font-family: "Comfortaa", cursive;
  resize: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: #0093E9;
  background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
  color: white;
  border-width: 0;
  border-radius: 5mm;
  height: 1.5cm;
  width: 3cm;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}
button:hover {
  background-image: linear-gradient(90deg, #0082ce 0%, #68a8a1 100%);
}

h1 {
  font-family: "Noto Serif", serif;
}

nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
nav .navBlock {
  position: fixed;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  margin: 5mm;
  padding: 2mm;
  border-radius: 1em;
  background-color: white;
}
nav img {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  width: 7.5mm;
  margin: 1mm;
  padding: 1mm;
  border-radius: 25%;
  background-color: white;
}

.imageTop {
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4158D0;
  background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 50%, #FFCC70 100%);
  text-align: center;
  color: white;
}

.projects {
  text-align: center;
  padding: 1cm;
  background-color: white;
}

.block {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  width: 20em;
  border-radius: 1cm;
  background-color: white;
  margin: 5mm;
  padding-bottom: 1cm;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.block img {
  border-radius: 1cm 1cm 0 0;
  width: 20em;
}

.instruments {
  text-align: center;
  background: #f88cff;
  background: linear-gradient(45deg, #f88cff 0%, #8cb9ff 100%);
  padding: 1cm;
}
.instruments img {
  border-radius: 0;
  width: 10em;
  margin: 1cm;
}

.list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.end {
  background-color: #383838;
  text-align: center;
  color: white;
  padding: 2em;
}
.end img {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  width: 1cm;
  margin: 1em;
  padding: 3mm;
  border-radius: 25%;
  background-color: white;
}