@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script&family=Noto+Serif:ital@1&display=swap');

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Comfortaa', cursive;
	resize: none;
	margin: 0;
	padding: 0;
}

button {
  background-color: #0093E9;
	background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
	box-shadow: 0 0 1em rgba(0,0,0,0.5);
  border: none;
  margin: 1em;
  padding: 1em 2em;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10cm;

	&:hover {
		background-position: right center;
	}
}

h1{
	font-family: 'Noto Serif', serif;
}

nav {
	.navBlock {
		position: fixed;
		box-shadow: 0 0 1em rgba(0,0,0,0.5);
		margin: 5mm;
		padding: 2mm;
		border-radius: 1em;
		background-color: white;
	}
	
	display: flex;
  flex-wrap: wrap;
  justify-content: center;

	img {
		box-shadow: 0 0 1em rgba(0,0,0,0.5);

		width: 7.5mm;
		margin: 1mm;
		padding: 1mm;
		border-radius: 25%;
		background-color: white;

		transition: 0.5s;

		&:hover {
			background-color: #b0d5eb;
		}
	}
}

.imageTop {
	height: 100vh;

	color: white;
	
	display: flex;
	align-items: center;
  flex-wrap: wrap;
  justify-content: center;
	flex-direction: column;

	background-image: url('assets/images/background.gif');
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;	

	h1 {
		font-family: 'Dancing Script', cursive;
	}
}

.logo {
	width: 10em;

	border-radius: 1cm;
}

.projects{
	text-align: center;
	padding: 1cm;

	background-color: white;
}

.block {
	box-shadow: 0 0 1em rgba(0,0,0,0.5);

	width: 20em;
	border-radius: 1cm;
	background-color: white;

	margin: 5mm;
	padding-bottom: 1cm;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	
	img {
		border-radius: 1cm 1cm 0 0;
		width: 100%;
	}
}

.instruments {
	text-align: center;
	background: rgb(248,140,255);
	background: linear-gradient(45deg, rgb(248,140,255) 0%, rgb(140,185,255) 100%);
	padding: 1cm;

	img{
		border-radius: 0;
		width: 1cm;
	}
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	align-items: flex-start;
}

.end {
	background-color: rgb(56, 56, 56);
	text-align: center;
	color: white;
	padding: 2em;

	img {
		box-shadow: 0 0 1em rgba(0,0,0,0.5);

		width: 1cm;
		margin: 1em;
		padding: 3mm;
		border-radius: 25%;
		background-color: white;
	}
}